@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

#root {
  /* start clean */
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #444;
}

.ui.container.result-none {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -40%);
}

.result-none-logo {
  display: block;
  margin: 0 auto;
}

.result-logo {
  width: 20%;
}

.ui.form {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}

.result-none-search {
  margin: 3rem 0;
}

.result-search {
  margin: 1.5rem 0;
}
